.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#navbutton{
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: none;
  z-index: 999999;
  width: 60px;
  height: auto;
  position: fixed;
  cursor: default;
  opacity: 0;
  left: 25px;
  top: 40px;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  font: normal 13px/1 "Times New Roman", Times, serif;

  color: rgba(0,0,0,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: -webkit-radial-gradient(closest-side, rgba(145,176,242,0.51) 0, rgba(11,17,186,0.48) 100%);
  background: -moz-radial-gradient(closest-side, rgba(145,176,242,0.51) 0, rgba(11,17,186,0.48) 100%);
  background: radial-gradient(closest-side, rgba(145,176,242,0.51) 0, rgba(11,17,186,0.48) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.3) ;
  box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: none;
  transform: none;
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
}

#navbutton2{
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: none;
  z-index: 99999;
  width: 60px;
  top: 40px;
  height: auto;
  position: fixed;
  cursor: default;
  opacity: 0;
  left: 130px;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  font: normal 13px/1 "Times New Roman", Times, serif;

  color: rgba(0,0,0,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: -webkit-radial-gradient(closest-side, rgba(145,176,242,0.51) 0, rgba(11,17,186,0.48) 100%);
  background: -moz-radial-gradient(closest-side, rgba(145,176,242,0.51) 0, rgba(11,17,186,0.48) 100%);
  background: radial-gradient(closest-side, rgba(145,176,242,0.51) 0, rgba(11,17,186,0.48) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.3) ;
  box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: none;
  transform: none;
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
}

.fre{
  width: 160px;
  height: auto;
  padding: 20px;
  margin: 0;
  overflow: hidden;
  display: inline-block;
  float: none;
  z-index: -1;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: static;
  opacity: 1;
  cursor: default;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


